* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 16px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.list-item {
  list-style: none;
  border-bottom: 1px solid #ddd;
}

  .list-item--title {
    font-size: 1.5rem;
  }

    .list-item--title a {
      text-decoration: none;
      color: #333;
    }

.top-menu {
  background: #f4f4f4;
  padding: 1rem;
}

  .brand {
    font-weight: bold;
  }

.input-search--large,
.input-search {
  border: 1px solid #333;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 3px;
}

.pull-right {
  float: right;
}
