* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: 16px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.hero {
  background: url(http://imgur.com/C47Ufth.jpg);
  background-size: 100%;
  min-height: 380px;
  background-position: -30%;
  border-radius: 5px;
  margin-bottom: 2rem;
}

  .hero h1 {
    color: #fff;
    font-size: 8rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
  }

.map {
  width: 100%;
  height: 480px;
}

.photo-gallery {
  text-align: center;
}

  .gallery-item {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    margin: 3px;
  }

.list-item {
  list-style: none;
  border-bottom: 1px solid #ddd;
}

  .list-item--title {
    font-size: 1.5rem;
  }

    .list-item--title a {
      text-decoration: none;
      color: #333;
    }

.top-menu {
  background: #f4f4f4;
  padding: 1rem;
}

  .brand {
    font-weight: bold;
  }

  .top-menu li {
    font-size: 1.5rem;
    list-style: none;
    display: inline;
  }

  .top-menu li a {
    color: #333;
    border-bottom: 1px solid #333;
    text-decoration: none;
  }

    .top-menu li:after {
      content: ">";
    }

    .top-menu li:last-child:after {
      content: "";
    }

.form-input,
.form-input input {
  font-size: 1.5rem;
}

.form-input input {
  
}


.input-search--large,
.input-search {
  border: 1px solid #333;
  border-radius: 3px;
  padding: .5rem;
  margin-top: -.2rem;
}

.info-box {
  line-height: 1.5rem;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}
