{% extends "base.html" %}
{% block content %}

  <form action="/adauga/muzeu" method=GET>
    <div class="large-6 columns">
  <h2>Poti adauga un muzeu care nu exista in lista</h2>
    <table class="form-input">
      <tr>
        <td>
          Nume
        </td>
        <td>
          <input class="input-search" type="text" name="nume" placeholder="Numele muzeului">
        </td>
      </tr>
      <tr>
        <td>
          Judet
        </td>
        <td>
          <input class="input-search" type="text" id="judet" name="judet" placeholder="Judet in care se afla">
        </td>
      </tr>
      <tr>
        <td>
          Descriere
        </td>
        <td>
          <textarea rows=5 cols=40 name="descriere"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan=2">
          <button type="submit" class="pull-right button--large">Trimite</button>
        </td>
      </tr>
    </table>
    <input type="hidden" name="lat">
    <input type="hidden" name="lng">
  </form>
</div>
<div class="large-6 columns">
    <h2>Marcheaza unde se afla muzeul</h2>
    <div id="map" class="map"></div>
</div>
</form>

{% endblock %}

{% block extra_scripts %}
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script>

    var marker,
        inputLat = $('input[name=lat]'),
        inputLng = $('input[name=lng]')
        map = L.map('map').setView([45.9419466, 25.0200796], 8)
        ;

    L.tileLayer('http://{s}.tile.cloudmade.com/cd94ce8c7a674395858d1212ac139111/997/256/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18
    }).addTo(map);

    $('#judet').on('focusout', function() {
      var nume = $('input[name=nume]').val().split(' ').join('+');
      var judet = $(this).val().split(' ').join('+');
      $.get('http://nominatim.openstreetmap.org/search?q='+ judet + '+' + nume +'&format=json')
        .success(function(data){
            if(data.length) {
              data = data[0];
              map.setView(new L.LatLng(data.lat, data.lon), 13);
            }
          })
        .fail(function(data) {
            console.log(data);
          })
    });

    map.on('click', function(e) {
      var m = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
      if (marker) map.removeLayer(marker);
      marker = m;
      inputLat.val(e.latlng.lat);
      inputLng.val(e.latlng.lng);
    });

  </script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
{% endblock %}

{% block breadcrumb_muzeu %}
  <li>
    Adauga muzeu nou
  </li>
{% endblock %}
