{% extends "base.html" %}
{% block content %}

  <h2>Poti adauga un muzeu care nu exista in lista</h2>
  <form action="/adauga/muzeu" method=GET>
    <table>
      <tr>
        <td>
          Nume
        </td>
        <td>
          <input class="input-search" type="text" name="nume" placeholder="Nume muzeu">
        </td>
      </tr>
      <tr>
        <td>
          Judet
        </td>
        <td>
          <input class="input-search" type="text" name="judet" placeholder="Judet">
        </td>
      </tr>
      <tr>
        <td>
          Descriere
        </td>
        <td>
          <textarea></textarea>
        </td>
      </tr>
      <tr>
        <td colspan=2><h4>Marcheaza unde se afla muzeul</h4></td>
      </tr>
    </table>
    <div id="map" class="map"></div>
  </form>

{% endblock %}

{% block extra_scripts %}
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script>
    var marker;
    var map = L.map('map').setView([45.9419466, 25.0200796], 7);
    L.tileLayer('http://{s}.tile.cloudmade.com/cd94ce8c7a674395858d1212ac139111/997/256/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18
    }).addTo(map);

  map.on('click', function(e) {
      if (marker) map.removeLayer(marker);
      var m = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
      marker = m;
    })

  </script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
{% endblock %}
