{% extends "base.html" %}
{% block content %}
    <div class="large-12 columns hero">
      <h1>Muzeele Romaniei</h1>
    </div>
    <ul id="lista-muzee">
  {% for muzeu in muzee %}
    <li class="list-item">
      <p class="list-item--title">
        <a href="/muzee/{{ muzeu.cod }}">{{ muzeu.nume }} din {{ muzeu.judet }}</a>
      </p>
    </li>
  {% endfor %}
    </ul>
{% endblock %}

{% block breadcrumb_muzeu %}

  <li class="list-item pull-right">
    <a href="/adauga">Adauga muzeu</a>
  </li>
  <input type="text" class="input-search pull-right" id="search" placeholder="Cautare.." required>

{% endblock %}

{% block extra_scripts %}

  <script>
  var search = document.querySelector('#search');
  search.addEventListener('keyup', filterMuseums, false);

  function filterMuseums(e) {
    var input = this;
    if (window._timeout) {
      clearInterval(window._timeout);
    }
    window._timeout = setTimeout(function() {
      filter(input.value);
    }, 500);
  }

  function filter(value) {
    $.get('/search/' + value)
      .success(function(data) {
          if (data.length) {
            $('#lista-muzee').html(data);
          }
          })
    .fail(function(data){
          console.log(data)
        })
  }
  </script>

{% endblock %}
