{% extends "base.html" %}
{% block content %}
  {% for muzeu in muzee %}
    <li class="list-item">
      <p class="list-item--title">
        <a href="/muzee/{{ muzeu.cod }}">{{ muzeu.nume }} din {{ muzeu.judet }}</a>
      </p>
    </li>
  {% endfor %}
{% endblock %}

{% block breadcrumb_muzeu %}

  <li class="list-item pull-right">
    <a href="/adauga">Adauga muzeu</a>
  </li>
  <form action="" class="pull-right" class="form--menu">
    <input type="text" class="input-search" id="search" placeholder="Cautare.." required>
  </form>

{% endblock %}

{% block extra_scripts %}

  <script>
  var search = document.querySelector('#search');
  search.addEventListener('keyup', filterMuseums, false);

  function filterMuseums(e) {
    var input = this;
    if (window._timeout) {
      clearInterval(window._timeout);
    }
    window._timeout = setTimeout(function() {
      filter(input.value);
    }, 500);
  }

  function filter(value) {
    elems = document.querySelectorAll('.list-item a');
    [].forEach.call(elems, function(el) {
      if (!el.innerText.match(value)) {
        el.parentNode.parentNode.classList.add('hidden');
      }
    });
  }
  </script>

{% endblock %}
